<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <add key="HubAddress" value="http://localhost:50728/api"/>
  </appSettings>
  
  <connectionStrings>
    <add name="ARApplicationServerConnection"
     connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=F:\Dropbox\Thesis\visual studio 2013\ARApplicationServer\ARApplicationServer\App_Data\ApplicationServer.mdf;Integrated Security=True;"
     providerName=".NET Framework Data Provider for SQL Server" />
    </connectionStrings>
  <!--
  <appSettings>
    <add key="HubAddress" value="http://localhost/ARConnect"/>
  </appSettings>

  <connectionStrings>
    <add name="ARApplicationServerConnection"
         connectionString="server=.\SQLEXPRESS;database=ApplicationServer.mdf;Integrated Security=sspi;uid=sa;pwd=Admin@123456"
         providerName=".NET Framework Data Provider for SQL Server"/>
  </connectionStrings>
  
  <connectionStrings>
    <add name="ARApplicationServerConnection"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\rkhajei\Dropbox\UNBC\Thesis\visual studio 2013\ARapplicationServer\ARApplicationServer\App_Data\ApplicationServer.mdf;Integrated Security=True;"
         providerName=".NET Framework Data Provider for SQL Server"/>
  </connectionStrings>
  -->
</configuration>