<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
     <add name="cnnStr" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=ARApplicationServer;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <appSettings>
    <add key="HubAddress" value="http://localhost:50728/api" />
    <add key="Name" value="ServerA" />
    <add key="ServerAddress" value="http://localhost:7204" />
    <add key="Identifier" value="12365477" />
    <add key="ID" value="10" />
    <add key="Registered" value="True" />
    <add key="TargetsFolder" value="Targets" />
    <add key="IncomingFolder" value="Targets/Incoming" />
    <add key="SharedDatabaseName" value="stones" />
    <add key="OutgoingFolder" value="Targets/Outgoing" />
    <add key="OutgoingTargetName" value="tarmac" />
    <add key="ChatFolder" value="Targets/Chat" />
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>