<Server>
  <Name>ServerA</Name>
  <ID>1234577</ID>
  <Registered>True</Registered>
  <Identifier>5</Identifier>
  <Targets>
    <TargetsFolder>Targets</TargetsFolder>
    <Incoming>Targets/Incoming</Incoming>
    <Outgoing>Targets/Outgoing</Outgoing>
    <ChatFile>Targets/Chat</ChatFile>
  </Targets>
</Server>