<Server>
  <Name>ServerA</Name>
  <ID>1236577</ID>
  <Registered>True</Registered>
  <Identifier>6</Identifier>
  <Targets>
    <TargetsFolder>Targets</TargetsFolder>
    <Tags>
      <Tag>stone</Tag>
      <Tag>park</Tag>
      <Tag>sea</Tag>
    </Tags>
    <Incoming>
		<Name>Chips</Name>
		<Address>Targets/Incoming</Address>
	</Incoming>
    <Outgoing>
		<Name>Stone</Name>
		<Address>Targets/Outgoing</Address>
	</Outgoing>
    <ChatFile>Targets/Chat</ChatFile>
  </Targets>
</Server>