<Server>
  <Name>ServerA</Name>
  <ID>12365477</ID>
  <Registered>True</Registered>
  <Identifier>7</Identifier>
  <Targets>
    <TargetsFolder>Targets</TargetsFolder>
    <Incoming>
      <Name>Chips2</Name>
      <Address>Targets/Incoming</Address>
      <Tags>
        <Tag>stone</Tag>
        <Tag>park</Tag>
        <Tag>sea</Tag>
      </Tags>
    </Incoming>
    <Outgoing>
      <Name>Stone2</Name>
      <Address>Targets/Outgoing</Address>
      <Tags>
        <Tag>stone</Tag>
        <Tag>park</Tag>
        <Tag>sea</Tag>
      </Tags>
    </Outgoing>
    <ChatFile>Targets/Chat</ChatFile>
  </Targets>
</Server>